[2014-03-25 09:34] friedger opened #4 "Add support for drive folder of event series"
Organizers should be able to add organizers to a drive folder by selecting an event tag.

All organizers of a chapter that is hosting an event with the given tag are automatically added to the selected folder.

Steps:
1) text input for tag
2) pick drive folder (https://developers.google.com/picker/docs/)
3) get events with tags (https://hub.gdgx.io/api/v1/events/tag/:tagname)
4) for each event get

[2014-03-25 20:59] #4 closed, assigned to nobody

[2014-04-29 20:28] joshuawoodward opened #7 "Filter on multiple countries"
https://github.com/gdg-x/hub/blob/master/lib/controllers/api/v1/chapters.js

Would be nice to be able to filter on multiple countries by passing CSV
example : /chapters/country/us,ca

[2014-05-01 15:37] #7 closed, assigned to mauimauer

[2014-05-05 20:47] joshuawoodward opened #8 "Route root paths to documentation"
When visiting URLs like
https://hub.gdgx.io/api/ or
https://hub.gdgx.io/api/v1/

Redirect or route to the docs
https://hub.gdgx.io/developers/api

Or improve 404 document to include link to documentation

[2014-05-07 16:47] #8 closed, assigned to mauimauer

[2014-05-07 16:55] tajchert opened #9 "Functionality request: Organizers for particular Chapter"
A GET request for organizers for specific Chapter.
Also if possible add organizers IDs (G+) to event info.

[2014-05-07 16:58] #9 closed, assigned to nobody

[2014-06-09 20:40] mauimauer opened #10 "Content-Encoding UTF-8 for all responses"
There seems to be a bug in the Cache Layer preventing the delivery of proper Content Encoding headers when loaded from Cache.

[2014-06-16 11:40] #10 closed, assigned to nobody

[2014-08-10 04:01] Splaktar opened #11 "Upcoming events API doesn't list all upcoming events"
/chapters/:chapterId/events/upcoming
Returns a list of all upcoming Events scheduled by the specified Chapter

http://hub.gdgx.io/api/v1/chapters/103959793061819610212/events/upcoming

Should show me the August and October event, but only lists the August event. Ideally it should show events up to 6 months in advance at least (if it can't do 'all upcoming' like it says).

[2014-08-10 04:07] Splaktar opened #12 "Events API description/about field parsing"
It looks like the API is doubling my `<br/>` tags by adding a `<br />` tag for each of them. This leads to my formatting being messed up on the boomerang events page.

See the output below. Every `<br/>` in the data has an additional `<br />` added to it.

`"about": "Tech Talk: Testing your AngularJS application with Karma and Jasmine<br/><br />Code Lab: Go: Build a RESTful Back-end on App Engine

[2014-08-30 14:08] friedger opened #13 "Include time span on returned list of events"
When querying events, like https://hub.gdgx.io/api/v1/events/tag/globalandroiddevcamp the response should contain start and duration of the time span covered by the request

[2014-09-03 17:36] mauimauer opened #15 "Remind Organizers to enter their Attendee stats"
Notify Organizers if they haven't provided Attendee stats for an Event that happened more than 2 weeks ago.

[2014-09-04 18:29] friedger opened #17 "Add web page with map of all devfests"
This is part of the migration from developers.google.com

[2014-09-04 19:47] friedger opened #18 "Add API and UI for admins to define special event tag for Frisbee"
Admins of Hub should be able to define
- tag
- title + icon (in navigation drawer)
- tag line/short description (above list of events)
- icon for action bar

A simple API should return these values

[2014-09-04 20:30] joshuawoodward opened #20 "Chapters page not loading in hub"
https://hub.gdgx.io/chapters does not load

TypeError: Cannot read property 'name' of null
    at https://hub.gdgx.io/scripts/ba177e92.scripts.js:5:26288
    at https://hub.gdgx.io/scripts/3091e993.vendor.js:4:26843
    at j (https://hub.gdgx.io/scripts/3091e993.vendor.js:5:8568)
    at j (https://hub.gdgx.io/scripts/3091e993.vendor.js:5:8568)
    at https://hub.gdgx.io/scripts/3091e993.vendor.js:

[2014-09-10 12:51] #20 closed, assigned to nobody

[2014-09-10 12:52] #11 closed, assigned to mauimauer

[2014-09-29 19:47] Splaktar opened #22 "hub.gdgx.io appears to be down"
https://hub.gdgx.io/
http://hub.gdgx.io/developers/api

Unknown Host
Description: Unable to locate the server named "hub.gdgx.io" --- the server does not have a DNS entry. Perhaps there is a misspelling in the server name, or the server no longer exists. Double-check the name and try again.

[2014-09-29 20:59] #22 closed, assigned to nobody

[2014-11-09 18:24] Splaktar opened #23 "How do I use the /events/:start/:end API?"
http://hub.gdgx.io/api/v1/chapters/103959793061819610212/events/1384021175/1415557175

The above is trying to get the events in the last year, but it is returning 0 items.

[2014-11-09 18:31] Splaktar opened #24 "How do I ask the server to send me the next page or page 2?"
http://hub.gdgx.io/api/v1/chapters/103959793061819610212/events/past

This returns 34 items, 25 per page. Thus I'm only getting 25 items as I don't know the API (query param?) to use for asking for page 2 of the results. I looked in the Wiki and on the API reference page but didn't see any information about paging.

[2014-11-09 18:46] #24 closed, assigned to nobody

[2015-02-08 21:21] mauimauer opened #27 "Update SSL Certs for 2015"
Get new Certs from StartSSL and install them via the OpenShift Console

[2015-02-08 22:20] mauimauer commented on #27
Replaced cert. Fixes #27

[2015-02-08 22:20] #27 closed

[2015-02-08 23:14] mauimauer opened #28 "Enable SPDY"

[2015-02-08 23:29] mauimauer commented on #28
See https://spdycheck.org/#hub.gdgx.io
![](http://media.giphy.com/media/ulZwxYQVqUWhW/giphy.gif)

[2015-02-08 23:29] #28 closed

[2015-02-22 09:21] friedger commented on #23
You have to use millis like https://hub.gdgx.io/api/v1/chapters/103959793061819610212/events/1384021175000/1415557175000

[2015-02-24 09:39] tasomaniac opened #29 "Full day event missing from GDG-X hub"
WTM Istanbul 2015 event that will occur on March 15th is missing from the GDG-X Hub and it is not showing on GDG Android App.

The tags seem to be OK.

Event is shown on developers.google.com calendars
https://developers.google.com/events/4580370115723264/

but not on the GDG-X Hub API and calendars.

[2015-02-24 09:39] tasomaniac commented on #29
BTW the event was full day and I've just disabled full-day and gave start and end times. Could that be a problem?

[2015-02-24 13:58] mauimauer commented on #29
When did you create the event on Devsite?

2015-02-24 9:39 GMT+00:00 Said Tahsin Dane <notifications@github.com>:

[2015-02-24 14:20] tasomaniac commented on #29
Really long time ago. Before couple of event that are shown succesfully.

BTW, after I convert it from full_day to a timed event. It now appears on GDG Istanbul's events page. But when I click it hub API gives 404.

[2015-02-24 14:22] tasomaniac commented on #29
Actually it appears on when I select GDG Istanbul on GDG Android App. But it is still missing on this page when you select March.
https://hub.gdgx.io/chapters/100514812580249787371

[2015-03-01 10:46] tasomaniac commented on #29
Now the event is everywhere and the detail page is also working. It doesn't give 404 anymore.
I only changed full day event to timed event from 9am-5pm.
Could it be related to the full day events? I searched through events api and couldn't find any full day event there.

[2015-03-03 08:03] tasomaniac commented on #18
Start and End times for special tags?

[2015-03-12 09:40] friedger commented on #17
realized by github.com/gdg-x/firefly

[2015-03-12 09:40] #17 closed

[2015-03-28 04:47] #23 closed

[2015-03-28 04:52] Splaktar opened #31 "Add API for chapters to manage 'apps influenced'"
One of the new pushes for GDG in 2015 is influencing real published apps (web, Chrome, Android, etc). We should make it easy for logged in members of the chapters and organizers to add those links to the database. Then it should be possible for Boomerang to query that API and display a new page listing apps influenced/created by that chapter.

Of course the app listing would need to include at lea

[2015-03-30 08:28] tasomaniac commented on #31
We also have this issue in Frisbee project.
https://github.com/gdg-x/frisbee/issues/123

I think these are related. What do you think?

[2015-04-26 14:04] Splaktar commented on #13
Why is this desirable? Can't the caller just check the first and last event?

[2015-04-26 14:08] Splaktar commented on #31
@tasomaniac possibly. I'm not clear on the full use case covered by that issue.

[2015-04-26 15:11] friedger commented on #13
It is needed when you don't add a time span in the request and what the
server has stored.

It changed from 3 months to 4 months I think.

Hence, not all events are returned that are on Google Developer site. E.g.
for next year
Am 26.04.2015 16:04 schrieb "Michael Prentice" <notifications@github.com>:

[2015-04-26 16:12] Splaktar opened #33 "Improve README or CONTRIBUTING docs for new contributors"
~~Add a link to MongoDB installation instructions.~~
~~Add details about API keys.~~
~~Add information about how to run the test server locally.~~
~~Add details on how to run the unit tests.~~

[2015-04-26 16:18] Splaktar commented on #33
The instructions here helped me get setup: https://github.com/codeforamerica/ohana-api/wiki/Installing-MongoDB-with-MacPorts-on-OS-X

[2015-04-26 16:56] Splaktar commented on #33
Created a Wiki page for MongoDB Config here: https://github.com/gdg-x/hub/wiki/MongoDB-Config

[2015-04-26 17:50] Splaktar commented on #33
PR #34 addresses the mongo, local server, and unit test pieces.

I'm currently blocked by the API key configuration to get around `invalid_grant` and `unauthorized_client` errors when testing locally.

Also who is capable of actually deploying updates other than @mauimauer ?

[2015-06-01 05:14] fedex1 opened #36 "What is the schedule for Hub data updates? And Attendance Google Sheet"
It appears that the gdg-x hub data is not updated with recent data.

**(For the attendance google sheet see https://j.mp/gdgattendance and below.)**

Do we know what the update schedule is?  Does it read from developers.google.com once a day?

Here's an example:

[code]

You can see there is no value for "participants".

But dev site (https://developers.google.com) has a value and it was set aroun

[2015-08-07 14:58] friedger commented on #36
The cron jobs are configured in https://github.com/gdg-x/hub/tree/master/lib/cron

[2015-08-20 03:23] Splaktar commented on #18
Looks like the tag_edit branch mentioned above is gone.

[2015-08-20 03:28] Splaktar commented on #36
This is indeed the case. The hub is no longer ingesting new data from the DevSite. There are no events in the hub after Sept 9th. I don't have access to debug the current hub, so I will try to debug this locally and deploy a new version of the hub with fixes in a few weeks.

[2015-08-20 05:01] Splaktar commented on #36
Looked into this a lot in local dev. I can pull down much fresher events via the `fetch_events` task and see them via the API: http://localhost:9000/api/v1/events/upcoming

But I can't get the calendar to display any events. #37 fixes some of the calendar exceptions, but I still can't get it to display the events. Since the dependencies weren't set to specific versions, I can't be sure which versi

[2015-08-20 06:25] tasomaniac commented on #36
Good findings. I've also found that admin tasks endpoint and been wondering about which token to use there.

And our event in Istanbul in August 22 was successfully harvested.

[2015-08-21 19:13] Splaktar commented on #36
Got at least a partial fix in #38!

[2015-08-22 17:11] Splaktar commented on #36
Done with Calendar fixes in #38 but those only effect which events are displayed on the calendar. Not those which are returned by the API or ingested before that (which is also a problem).

I believe that I'll need to deploy a new version of the hub before the ingest/API issues can be solved.

[2015-08-22 17:18] tasomaniac commented on #36
Looking forward to see the new deployment. Thank you for fixing that.

[2015-08-23 03:23] Splaktar opened #39 "Remove deprecated ngmin"
Replace with ng-annotate.

[2015-08-23 03:23] Splaktar opened #40 "Remove deprecated open"
Replace with opn.

[2015-08-25 03:10] Splaktar opened #42 "Refactor config to read from a local properties file that is not source controlled"
This is similar to what Frisbee and Firefly do now instead of depending on a wide range of environment variables to be set properly.

This work is needed as part of the new Hub deployment off of OpenShift.

[2015-08-25 03:10] Splaktar commented on #42
This work is in progress.

[2015-08-25 03:17] Splaktar opened #43 "Deploy Hub to GCE instead of OpenShift"
A lot of this discussion has already happened on Gitter.

Mongo Cluster (to be shared with Firefly)
- Arbiter Node
  - f1-micro (1 vCPU, 0.6 GB memory)
- DB Node x 2
  - n1-highmem-4 (4 vCPUs, 26 GB memory)
  - 100 GB SSD data disk.

Hub API VM
- n1-highcpu-2 (2 vCPUs, 1.8 GB memory)

Redis Cluster x 3
- n1-standard-1 (1 vCPU, 3.75 GB memory)

[2015-08-25 03:18] Splaktar commented on #43
This is in progress and the Mongo and Hub VMs are spun up and ready to go. Redis is up next.

There is some deployment configuration work that has to happen before the Hub is ready to be deployed to this cluster.

[2015-08-31 04:51] Splaktar commented on #43
It's now up and running at http://146.148.62.106/

Remaining work is to
- Change hub.gdgx.io to point here that OAuth 2 and HTTPS can be setup properly.
- This will also tell Firefly to point to this version of the Hub so that events will show up again.

[2015-08-31 08:23] tasomaniac commented on #43
It's a great work. The new IP looks good.
I've looked at the events page and saw that there are DevFest events in the list. (Also the api is working now http://146.148.62.106/api/v1/events/tag/devfest/upcoming) But the list is not complete. The calendar does not contain DevFest Lviv for example.
What could be the problem?

[2015-08-31 12:16] Splaktar commented on #43
It's still building the event listing. It takes at least a full day to rebuild the DB. Glad to see DevFest events, there were none when I went to bed.

[2015-08-31 14:09] tasomaniac commented on #43
Oh ok I see. Great work then. Wow.

On Mon, Aug 31, 2015, 3:16 PM Michael Prentice notifications@github.com
wrote:

[2015-09-01 04:33] Splaktar opened #45 "Migrate static event type description/color metadata from OpenShift Hub deployment"
![screen shot 2015-09-01 at 12 25 29 am](https://cloud.githubusercontent.com/assets/3506071/9596242/4268240a-5040-11e5-9865-3f24118b0456.png)

As you can see from the above screenshot, the new Hub does not have a lot of the static data that it needs. This includes the colors of different event tags, `geo` location field on events, description text about what a devfest, android, or other event type

[2015-09-01 05:11] tasomaniac commented on #45
How much data we have in the old database? It shouldn't be too much. We can manually put them.

[2015-09-01 14:09] tasomaniac opened #46 "Space between paragraphs are huge."
The space between paragraphs seems to be lot bigger than the ones in Google+ and Google Developers page for the events. Here is one screenshot.

![image](https://cloud.githubusercontent.com/assets/763339/9606449/26b564ca-50cc-11e5-8678-16102a575752.png)

[2015-09-01 23:30] Splaktar commented on #46
Looks like a duplicate of #12

[2015-09-02 06:40] tasomaniac commented on #46
Oh sorry. I made a quick search and couldn't find it.

On Wed, Sep 2, 2015, 2:30 AM Michael Prentice notifications@github.com
wrote:

[2015-09-02 06:41] #46 closed, assigned to nobody

[2015-09-03 03:42] Splaktar commented on #43
OK, the hub is currently running at http://gdgx.io/.

I've requested a free-for-open-source SSL certificate to get https://hub.gdgx.io up and running again.

[2015-09-03 03:44] Splaktar commented on #36
You should be able to see the most recent updates via the new GCE deployment at http://gdgx.io/. The API is also available via http://gdgx.io/api/v1/events/upcoming

I'm waiting on approval for a free-for-open-source SSL certificate before I can get https://hub.gdgx.io running again.

[2015-09-03 14:18] fedex1 commented on #36
Thanks @Splaktar

One related matter is I've been creating a report that reconciles the meetup event site with Google Dev Site (developers.google.com/events)

See https://drive.google.com/open?id=0BwXQyWhKLhmBbkVfRlUzUk5HM0k

This is an example report for NYC-GDG
- It shows the **attendance numbers** from meetup and Google Dev Site
- It shows the **tags** from Google Dev Site
- It shows missing ev

[2015-09-04 22:40] Splaktar commented on #43
OK, SSL and HTTPS load balancer setup. GCE deployment done!

[2015-09-04 22:40] #43 closed, assigned to Splaktar

[2015-09-04 22:41] tasomaniac commented on #43
:+1: thank you for fixing it all.

[2015-09-04 22:47] Splaktar commented on #45
We don't have access to the old database except through the APIs AFAIK. I will investigate further in OpenShift.

I will have to start the OpenShift cluster again. Then we can investigate and possibly fallback to querying via the API.

I also need to investigate how to give people write access to the new database.

Is anyone familiar with Mongo?

[2015-09-04 22:50] tasomaniac commented on #45
I am not familiar unfortunately. The old server is not running right. If it is running and if we can still access it through its IP, we can do it through the API.

Or we can rewrite the data. What do we need?
We have event descriptions in Frisbee. Colors are easy too.

[2015-09-04 22:53] Splaktar commented on #36
Yeah it would be nice to see that code on Github.

Meetup is developing an integration and special features for Google.

This issue has been resolved now that the new GCE Hub deployment is complete.

[2015-09-04 22:54] #36 closed, assigned to Splaktar

[2015-09-04 22:59] Splaktar commented on #45
Yeah those are fairly easy. The Geo piece must be automated but not working.

[2015-09-06 00:53] mingcongzhang commented on #45
Cannot see GDG Buffalo DevFest. :(

[2015-09-06 06:56] friedger commented on #45
Please open a new issue
Am 06.09.2015 02:53 schrieb "Mingcong Zhang" notifications@github.com:

[2015-09-06 06:56] tasomaniac commented on #45
I can see it in Android app which uses the new hub.

![screenshot_2015-09-06-09-55-37](https://cloud.githubusercontent.com/assets/763339/9703009/7f4847b0-547d-11e5-9d47-db3e083f9cd1.png)

[2015-09-06 15:34] Splaktar commented on #45
Yeah, he didn't leave much detail, but I spoke to him on Hangouts. His issue is just that his event doesn't show up on the Firefly map. That's related to this issue of the Hub not having Geo entries.

[2015-09-06 19:58] Splaktar opened #47 "Hub GeoCoder not working"
Ingestion is not geo tagging chapters or events. This is handled in https://github.com/gdg-x/hub/blob/develop/lib/clients/devsite.js#L9

[2015-09-06 19:59] Splaktar commented on #45
Update: The geocoder / map marker issue is open in a separate issue here: https://github.com/gdg-x/hub/issues/47

This issue will just track the event type description and colors metadata.

[2015-09-07 15:55] Splaktar commented on #47
I've enabled the Geocoder API in the new GDG-X Cloud console. This may resolve the issue with newly ingested events. I'm not sure that it will help events that have already been ingested.

On localhost testing, this has removed a bunch of the ACCESS TO API DENIED errors that we were seeing.

[2015-09-07 16:27] tasomaniac commented on #47
:+1: Let's see if it is fixed for the new events. Can't we re-run scraper for all the event?

[2015-09-07 16:33] Splaktar commented on #47
We could, I want to wait and see if the normal ingest tasks will fix this or not.

[2015-09-13 18:21] friedger commented on #45
I'll try to add a form for that to hub/app

[2015-09-14 02:56] Splaktar commented on #47
I've re-deployed the Hub using a smaller VM instance and a separate MongoDB index. All events have been re-ingested and are now properly geocoded.

[2015-09-14 02:56] #47 closed, assigned to Splaktar

[2015-09-15 04:54] Splaktar commented on #45
I've added colors to many event types. More can be added over time or we can find a better way of doing this.

Perhaps we should just have a JSON file in Firefly that adds this metadata so that we could always tweak and redeploy. But then again, with the data in the DB, we can tweak it without redeploying which is probably preferred.

We could possibly have the JSON file here in the Hub and have i

[2015-09-18 16:36] Splaktar opened #54 "Resource leak that brings down the Hub"
Last night, the Hub stopped responding to all requests. Antonio Bertucci let us know about it in the Gitter chat about 5 hours ago.

When I logged into the console for the Hub and attached to the tmux session, I found the following issue:
https://github.com/nodejs/node-v0.x-archive/issues/9409

There is a work around in that thread, but I haven't had time to try it. Also we've only seen this issue

[2015-09-19 04:20] Splaktar commented on #45
For a short term fix, I've added descriptions and colors to the following tags manually via Robomongo.

http://ioextended.gdgroups.org/
http://wtm.gdgroups.org/
http://studyjam.gdgroups.org/
http://devfest.gdgroups.org/
http://androidwear.gdgroups.org/
http://android.gdgroups.org/
http://techtalk.gdgroups.org/
http://codelab.gdgroups.org/
http://polymer.gdgroups.org/
http://angularjs.gdgroups.org/

[2015-09-19 04:20] #45 closed, assigned to friedger

[2015-09-19 04:25] Splaktar commented on #33
I've added Wiki page for ingesting data into the Hub. @friedger was able to follow it successfully. https://github.com/gdg-x/hub/wiki/Ingesting-data-into-the-Hub

I've also added a Wiki page for building and deploying the Hub in the GDG-X Cloud in GCE: https://github.com/gdg-x/hub/wiki/Building-a-Hub-instance

[2015-09-22 12:17] Splaktar commented on #54
Happened again last night:

[code]

[2015-09-24 00:03] fedex1 commented on #36
I've placed the little scripts here: https://github.com/GDG-NewYork/meetup-api-python

The script is here:

https://github.com/GDG-NewYork/meetup-api-python/blob/master/reconcile/reconcile_script_driver.sh

The only thing a person needs to do is get a meetup api key

[2015-09-24 06:54] tasomaniac commented on #36
What does the api do? Do you use it to enter events automatically to Google plus and developers site.

[2015-09-24 18:15] fedex1 commented on #36
Hi @tasomaniac

No I do not believe there is a write API to the "Dev Site" / https://developers.google.com/events/

This script, in essence,  makes it easier to synchronize meetup and Dev Site.

What usually happens is you create the event in
- meetup
- dev site
- event happens
- you forget to put the attendance numbers in dev site :)
- this script help you by showing the issues.

Plus it shows th

[2015-09-24 20:25] aleborba opened #55 "DevFest Western Kenya 2015 not showing on Hub feed"
The [DevFest Western Kenya](https://developers.google.com/events/5430941332275200/) is registered on DevSite, as you can see.
But, for some reason, the Hub is not indexing and showing on the feed.

[2015-09-24 20:45] tasomaniac commented on #55
When I select GDG Kisumu on our Android app. I can see the event there. But
when I click it, it gives me 404 and cannot find it.

On Thu, Sep 24, 2015, 11:25 PM Alê Borba notifications@github.com wrote:

[2015-09-26 02:48] Splaktar commented on #54
Had to restart the hub again tonight.

[2015-09-27 15:28] Splaktar commented on #55
Just did a full reingest of events and this still isn't showing up. hrm...

[2015-09-27 15:51] Splaktar commented on #55
@aleborba there is a problem with either how they entered the event or with the DevSite itself.

See their [chapter listing](https://developers.google.com/groups/chapter/112962354634647547381/).
Look at the calendar and notice that there is no event listed for their chapter on 11/28.

Their [June 18th event](https://developers.google.com/events/5758377053913088/) seems to be listed on the calendar

[2015-09-27 16:08] aleborba commented on #55
Weird...
![is listed for me](https://cloud.githubusercontent.com/assets/594742/10123774/788a297c-6542-11e5-9cf7-863a7545090b.png)

And this event had a location with map for me. The June 18th event, just have an address

[2015-09-27 16:10] Splaktar commented on #55
Yep, just updated my comment. The location looks good. I just don't see it on the calendar.

![screen shot 2015-09-27 at 12 09 40 pm](https://cloud.githubusercontent.com/assets/3506071/10123796/ace4fbd4-6510-11e5-9caf-a66b581dc0c1.png)

[2015-09-27 17:37] Splaktar commented on #55
I've changed it from pulling in only 10 days previous to 1 month past the 10th of this month (why that was the range, I have no clue) to pulling in the entire previous month to 3 months from today.

I also improved the log output so running today does:

[code]

Previously this just printed out some unhelpful timestamps and nothing about the input parameters.

This seems to allow it to pull in the

[2015-09-27 20:19] tasomaniac commented on #55
Did this increase the number of events?

[2015-09-27 20:41] tasomaniac commented on #55
When I open Frisbee and go to Kisumu and go to events. There seems to be 2 events. One is devfest and the other is an event from July. Both of them give me 404 when I open them?

When we have 404 we can also try to ingest that specific id. What do you think?

[2015-09-27 20:47] tasomaniac commented on #55
I've looked at the other chapters and found out that all the events before July 26th are missing.

[2015-09-27 21:45] Splaktar commented on #55
@tasomaniac This isn't deployed to production yet.

The ingestion only covers 10 days in the past, after this is deployed it will be until the 1st of the previous month. So no old events are ingested. We could create an ingestion task for historical events that is meant to only be run once, but that should be handled in a separate issue.

[2015-09-27 22:08] Splaktar commented on #55
Actually, I just made a minor change to the script in production and ingested the last 2 years of past events, back to Sept 2013. Any need to go farther back than that?

Btw, this fix is now deployed to production and the rest of the DevFest events are ingesting now up until January 1st, 2016.

As for attempting to ingest event's with `id`'s that are not found, it's possible, but could be a securi

[2015-09-27 22:59] tasomaniac commented on #55
Cool 😎

I don't think we will see a 404 issue anymore. If I see one in the future I will open a new issue about digesting when we see a 404. I don't think it will introduce a security problem. It may just check developers site if it is 404 there as well. If it is also 404 in there, it may not do anything. What do you think?

[2015-09-28 00:37] Splaktar commented on #55
@tasomaniac sounds like a plan. I don't expect more 404s after this update.

[2015-09-28 04:06] Splaktar commented on #54
Went down again a couple hours ago, working on a fix...

[2015-09-28 06:41] tasomaniac commented on #55
Although 404s are gone I don't still see the DevFest events in December in
Frisbee including western Kenya

On Mon, Sep 28, 2015, 3:37 AM Michael Prentice notifications@github.com
wrote:

[2015-09-28 07:30] tasomaniac commented on #54
I happened 3 times in 10 days. Waiting for 4 or more days makes sense.

[2015-09-28 21:15] aleborba commented on #55
@Splaktar, maybe open a bug on Frisbee?

[2015-09-28 21:22] tasomaniac commented on #55
Frisbee uses this endpoint and it looks like it doesn't have the event as
well.
https://hub.gdgx.io/api/v1/events/tag/devfest/upcoming?perpage=-1

On Tue, Sep 29, 2015, 12:16 AM Alê Borba notifications@github.com wrote:

[2015-09-29 03:39] Splaktar commented on #55
I'm seeing the same thing in Firefly. The event is clearly listed in the Hub, but the APIs aren't returning it. I thought this was due to some caching, but enough time has passed and I'm seeing 3 other new events. I will investigate further when I get some free time.

[2015-10-02 14:17] Splaktar commented on #55
It's finally there!

<img width="659" alt="screen shot 2015-10-02 at 10 16 58 am" src="https://cloud.githubusercontent.com/assets/3506071/10248637/cd12dcf0-68ee-11e5-8385-33de45850ae4.png">

[2015-10-02 14:17] #55 closed, assigned to Splaktar

[2015-10-02 14:26] tasomaniac commented on #55
What was the problem?

[2015-10-02 15:20] Splaktar commented on #55
There were a few. The first was just making the ingestion range large enough to cover the full DevFest season. Then it was mostly a matter of waiting for caches to expire and be cleared.

[2015-10-06 03:22] #54 closed, assigned to nobody

[2015-10-07 04:20] Splaktar opened #58 "Out Of Memory errors"
There are a number of reasons that the Hub stops responding to requests (OOM, exceptions, hangs, etc). The goal isn't to solve all of these problems because there will likely be more introduced in the future via open source contributions and limited automated testing.

We need to setup a system to improve the Hub's HA, ideally via pm2 and possibly other packages. This is a common problem with Node

[2015-10-07 06:14] tasomaniac commented on #58
What you mentioned is a workaround right. Do we really need more than 1 server if we didn't have these kind of problems. I guess we don't have that many users.

[2015-10-11 05:23] webgrrrl opened #59 "/chapters/:chapterId/events/upcoming API is listing deleted events"
This is the event list in the Developers site for my chapter: https://developers.google.com/groups/chapter/117368911868983524073/

This is the event list in the Hub for my chapter:
https://hub.gdgx.io/chapters/117368911868983524073

Notice that https://hub.gdgx.io/events/5064898009104384 (GameFest) is a deleted event, which does not show in the Dev site.

We're using this API for our community eve

[2015-10-11 05:40] Splaktar commented on #59
@webgrrrl When was the GameFest event deleted from the DevSite?

[2015-10-11 05:42] webgrrrl commented on #59
@Splaktar More than two weeks ago.

[2015-10-11 05:44] Splaktar commented on #59
OK, good to know, thank you. I am not sure if the Hub has any functionality to support removing deleted events, but I will look into it when I can.

I should be able to remove it manually if needed.

[2015-10-11 05:45] webgrrrl commented on #59
@Splaktar Thanks. Or if there is extra filtering that I can use so that I can grab only live/listed events, that would be awesome.

[2015-10-11 15:01] Splaktar opened #60 "Hub API Analytics is no longer recording usage"
Prior to September, the Google Analytics for the Hub was very active with around 4-6k hits per month. A lot of the other metadata that you would get with website hits was not there, but we could at least see general API usage numbers.

We should get this working again. Unfortunately, there was no documentation left behind about how this was configured.

![screen shot 2015-10-11 at 10 59 34 am](htt

[2015-10-16 03:21] Splaktar commented on #58
Happened again tonight:

[code]

@tasomaniac it's not so much of a work around as it is a proper HA configuration.

[2015-10-17 22:44] Splaktar commented on #58
This seems related http://stackoverflow.com/questions/31856829/memory-error-in-node-js-nodesmallocalloc

[2015-10-20 05:03] PareshMayani opened #61 "Chapters should be displayed in alphabetical order"
Chapters list (for the particular country) on the https://hub.gdgx.io/chapters should be displayed in alphabetical order.

[2015-11-01 23:22] Splaktar commented on #58
Happened again as few days ago, but I didn't have time to investigate or collect stack trace.

[2015-11-01 23:58] tasomaniac commented on #58
:(

On Mon, Nov 2, 2015, 02:22 Michael Prentice notifications@github.com
wrote:

[2015-11-02 09:43] #61 closed, assigned to Splaktar

[2015-11-02 10:10] PareshMayani opened #63 "date/time formatting issue"
Date and time should be displayed with proper formatting. https://hub.gdgx.io/statistics

FYI, Currently it is getting displayed as 2015-11-01T11:00:00.000Z

[2015-11-02 10:18] PareshMayani opened #64 "Time formatting issue in events calendar"
On events calendar page https://hub.gdgx.io/events, exact hours are not getting displayed as 12:00 but only 12.

![events calendar issue](https://cloud.githubusercontent.com/assets/888080/10879286/2091f31e-8179-11e5-8575-124400d6f65d.PNG)

[2015-11-02 12:34] Splaktar commented on #64
I believe that this is the desired behavior.

[2015-11-02 13:58] PareshMayani commented on #64
I think displaying 12:00 AM hours looks more readable!

[2015-11-02 21:17] tasomaniac commented on #64
I think it was done like this intentionally.
I think we can keep this open. If anyone wants to do it, they can send a PR.
We have much bigger problems. :)

[2015-11-03 05:18] Splaktar opened #65 "Country page is broken"
![screen shot 2015-11-03 at 12 17 49 am](https://cloud.githubusercontent.com/assets/3506071/10901656/62594e86-81c0-11e5-9024-a129f80df68a.png)

[2015-11-09 21:33] friedger opened #66 "Add API for event series"
Frisbee uses a list of event series. These should be maintained on the hub.

See also https://github.com/gdg-x/frisbee/issues/256

[2015-11-09 21:52] tasomaniac commented on #66
I think tag editing Api with interface would be sufficient for this
feature. All the event series are tags at the end. All the event series
have their special tags.

On Mon, Nov 9, 2015, 23:33 Friedger Müffke notifications@github.com wrote:

[2015-11-14 17:44] Splaktar commented on #58
[code]

[2015-11-21 18:11] Splaktar opened #67 "Add support for Gitter Sidecar"
More details here: https://sidecar.gitter.im/

This would be great since the Hub is a developer focused site. We should make it easy for developers to chat with us.

[2015-11-21 18:17] Splaktar opened #68 "Use npm-scripts to make onboarding easier"
- Use a postinstall script to install `grunt-cli` and `bower`.
- Add a prestart script to build before serving.
- Update README to be more simple.

[2015-11-21 23:01] #33 closed

[2015-11-21 23:01] #68 closed, assigned to Splaktar

[2015-11-22 02:31] #65 closed, assigned to Splaktar

[2015-11-22 06:43] tasomaniac opened #75 "Content covers the navigation on mobile."
Here is how it looks like. I hope I don't open a duplicate issue.

![screenshot_20151121-223805](https://cloud.githubusercontent.com/assets/763339/11322456/41161354-90a1-11e5-9b5e-10f8ab89f135.png)
![screenshot_20151121-223750](https://cloud.githubusercontent.com/assets/763339/11322457/4117ed78-90a1-11e5-9ed4-038874119dbe.png)

[2015-11-30 10:44] Splaktar commented on #58
Here's the latest status when the Hub stopped and started giving 502 status errors:

[code]

4318 zombies does not look good... but the resources don't seem to be otherwise bottlenecked (RAM and disk are fine).

[2015-12-01 02:29] Splaktar commented on #58
OK, I've spun up a second Hub node (small instance, tried micro but ran into ENOMEM errors with grunt).

Now clustering and load balancing seems to be working:

hub:

[code]

hub-backup:

[code]

Then kill hub:

[code]

And the handoff is seamless with no interruption to traffic. I tried a few iterations of this in both directions and it seemed to work great.

This does not solve the fact that the

[2015-12-02 15:20] friedger opened #76 "Add API for list of active tags"
Should return a list of tags similar to /tags with values of number of upcoming events using this tag.

For API call
https://hub.gdgx.io/api/v1/tags/active?callback=JSON_CALLBACK

[2015-12-09 00:18] Splaktar opened #77 "If Redis can't be contacted, the Hub stops serving content and goes down"
Redis disconnect issues appear to have taken down the hub at 6:56pm ET today:

[code]

[2015-12-09 00:33] Splaktar commented on #77
This is affecting both nodes.

Restarting Hub nodes and Redis nodes did not resolve this. Networking hasn't been changed and settings still appear to be valid.

[2015-12-09 00:56] Splaktar commented on #77
Back online. I had to redeploy a new Redis cluster in the gdg-x network and then point the Hub nodes to this new cluster.

The previous cluster was in the default network, but there were network firewall rules that should have made it reachable. There was a warning in the redis coordinator VM that the Debian 7 image it was using was deprecated, but that should not have caused this.

[2015-12-09 00:58] Splaktar commented on #77
We should probably update the code so that if the connection to Redis fails, it does not bring down the server.

[2015-12-13 23:09] Splaktar commented on #77
Now Redis is failing for another reason:

[code]

[2015-12-14 01:55] Splaktar opened #79 "Redis suddenly failing Auth"
Now Redis is failing for another reason. It was working just fine for a couple of days, nothing changed... and then this happened...

[code]

[2015-12-14 03:47] Splaktar opened #80 "Remove deprecated express-annotations library"
This is blocking us from upgrading to Express 4.x.

[2015-12-14 03:48] Splaktar commented on #79
This is finally fixed. See #78 for details.

[2015-12-18 23:51] #79 closed, assigned to Splaktar

[2015-12-28 00:27] Splaktar commented on #58
Still seeing OOM errors bringing the server down:

[code]

The hub-backup also stopped responding to requests. But it did not have any kind of stack trace, crash, or logs. I really want to move this to a managed service as this is far too much trouble atm.

[2016-01-04 03:27] Splaktar opened #82 "Configure an uptime monitoring tool like StatusCake"
[StatusCake](https://www.statuscake.com/paid-website-monitoring/)

See an example [here](http://githubcontributions.io/).

[2016-01-04 15:14] tasomaniac opened #83 "Create an endpoint to get user's chosen home chapter."
Currently we have a `PUT` request to `/frisbee/user/home` which stores users home chapter. I doesn't actually work. Even if it works, we currently don't use it.
- First we should remove `frisbee` name from the endpoint.
- Second, we should have a `GET` request to read the value.

[2016-01-04 15:14] tasomaniac commented on #83
This is also related to https://github.com/gdg-x/firefly/issues/86
After this is done, clients can use signed-in user's home chapter to automatically fill the UI.

[2016-01-09 05:58] Splaktar commented on #60
Found where this is used in api/index.js. It needs to be configured in keys.js like.

[2016-01-09 06:24] Splaktar opened #85 "Document API features"
The docs are helpful, but they are missing a lot of information.

Add information on
- [sorting](https://hub.gdgx.io/api/v1/chapters?sort=country) (field to sort and asc (number?))
- [fields](https://hub.gdgx.io/api/v1/chapters?fields=_id,name,geo,country,status) to return in response
- [perpage](https://hub.gdgx.io/api/v1/chapters?perpage=10) limit
- [page](https://hub.gdgx.io/api/v1/chapters?per

[2016-01-09 08:46] #60 closed, assigned to Splaktar

[2016-01-09 19:07] Splaktar commented on #77
There were issues communicating with redis-vm-3 this week. It turns out that the `redis-server` service on that node had stopped and didn't restart on reboot. I've reinstalled the `redis-server` via `apt-get` and it seems to be working again.

Hub is now pointing at redis-vm-3 and Hub-backup at redis-vm-1.

[2016-01-13 00:34] friedger commented on #76
already contained in stats. Just remove the limit of 10.

[2016-01-19 13:28] Splaktar commented on #58
Both VMs locked up last night, so even pm2 wouldn't have helped. We may need to go farther and implement Kubernetes to orchestrate the containers and restart them when they fail health checks.

[2016-01-23 17:19] Splaktar commented on #29
I think that these were DevSite bugs that have been resolved. Please re-open if you continue to see this.

[2016-01-23 17:19] #29 closed

[2016-01-23 21:02] tasomaniac commented on #29
I don't think this is related to DevSite bugs.
At that time I realized this bug, Devsite was working perfectly. I think it was a scraper problem.

When the event is full-day event, it was showing perfectly on devsite but not in the hub.

I changed that event from full-day and gave it start & end hours. And after 1 or 2 days later, the event came to hub automatically.

[2016-02-25 18:48] Splaktar opened #88 "VM startup script not working"
This script should run the web server on VM start so that login and manual execution is not required. This isn't currently working due to the following errors:

[code]

[2016-03-08 21:41] tasomaniac commented on #75
Fixed by #89

[2016-03-08 21:41] #75 closed, assigned to nobody

[2016-05-31 11:10] tasomaniac opened #90 "Events endpoint returns unsorted list of events."
In Frisbee, we realized that the events endpoint returns the list unsorted. I think it is the order that they are stored in the db.

For example in this endpoint, you can see that the location of the 6th entry is wrong.

https://hub.gdgx.io/api/v1/chapters/115635340252753847571/events/2016-03-01T13:05:41.526+01:00/2017-05-31T13:05:41.526+02:00

[2016-05-31 12:03] Splaktar commented on #90
You can tell it which field to sort on in the request. Unfortunately this isn't documented (should be an open issue). Let me look...

[2016-05-31 12:04] tasomaniac commented on #90
We can definitely use it but by default for events, the date should be the default field to sort.

[2016-05-31 12:06] Splaktar commented on #90
Yep, #85 has a sorting example.

[2016-05-31 12:12] mauimauer commented on #85
asc=1 for ascending order
asc=-1 for descending order

[2016-05-31 12:17] tasomaniac commented on #90
Should we close this then? Or does it worth to have a default sorting with date field?

[2016-05-31 12:18] Splaktar commented on #90
The default for all APIs is how the database returns the data, usually insertion order.

[2016-05-31 12:18] #90 closed, assigned to nobody

[2016-05-31 12:19] Splaktar commented on #85
Thanks @mauimauer.

[2016-05-31 12:24] tasomaniac commented on #90
So it is something not possible in the current structure.

[2016-05-31 12:56] Splaktar commented on #90
It's possible, but most likely undesirable since it would remove the ability to get the current behavior and just force the behavior that is already supported via the sort API.

[2016-06-13 20:33] Splaktar opened #91 "Renew/change SSL Cert"
Cert expires on 9/4/2016.

[code]

We got a free 1 year cert from GoDaddy for being an open-source project. We may be able to renew it for free.

But we should probably just switch over to https://letsencrypt.org/.

[2016-06-14 15:46] aktravelling commented on #91
Makes sense to me, I have had good experience with letsencrypt. GoDaddy isn't alone with offering a one year free cert, gandi, my preferred provider, also offers the one year but I found letsencrypt at least as good.

[2016-06-14 16:36] tasomaniac commented on #91
I actually heard about letsencrypt couple of days ago in a comic strip. :)
I think we can try it as long as it is easy.

Also I used cloudflare to have https. That was super easy. The free version
just secures the traffic between user and cloudflare server. And between
cloudflare and our server it is unprotected.

On Tue, Jun 14, 2016, 17:46 Ann-Katrin B notifications@github.com wrote:

[2016-06-21 16:42] Splaktar opened #92 "Cluster image links are broken due to change to Google CDN"
Same issue as https://github.com/gdg-x/firefly/issues/98 but for the Hub.

[2016-06-26 05:20] Splaktar commented on #91
Tried LetsEncrypt and it didn't go as smoothly as everyone I've heard has said. Plus the certs have to be renewed every 90 days. The problems were mostly due to GCE and the LB configuration being a pain in the ass. More here: https://github.com/gdg-x/firefly/issues/97#issuecomment-228584896

[2016-08-29 03:57] #92 closed, assigned to nobody

[2016-09-05 23:30] Splaktar commented on #91
This certificate is now expired and now that Firefly is HTTPS, this breaks the entire Firefly app because it is calling insecure APIs. 😢

[2016-09-06 16:18] Splaktar commented on #91
Signed up for a free open source SSL cert from [GlobalSign](https://www.globalsign.com/en/ssl/ssl-open-source/). Waiting on them to approve it.

[2016-09-07 04:54] Splaktar commented on #91
They said that they would sent me the certification via email 'shortly' about 6 hours ago. Nothing yet.

[2016-09-08 04:12] Splaktar commented on #91
GlobalSign is still delaying sending me the certificate after saying that it would be sent 'shortly' yesterday. I emailed them today and they said that they would expedite the process but gave no indication of when it would be complete.

I took a look at @aktravelling's suggestion of Gandi, but they have the same offer as GoDaddy, free for 1 year, then you have to pay. So we would be right back in

[2016-09-08 22:00] Splaktar commented on #91
Robert Jacob suggested looking into https://github.com/hlandau/acme. It looks a lot better than the existing, official Let's Encrypt clients. Still have to figure out how to use it with the GCE Load Balancer or App Engine Flexible Environment though.

[2016-09-08 22:06] Splaktar commented on #91
Jacques Supcik suggested looking at https://startssl.com as well. He mentioned that he couldn't find any GCE API or blog posts to solve the issue of not being able to automate certificate renewal on GCP with the GCE Load Balancer.

[2016-09-09 18:27] Splaktar commented on #91
This [issue](https://code.google.com/p/googleappengine/issues/detail?id=12535) is open for tracking GCP support for Let's Encrypt and ACME.

[2016-09-09 18:58] Splaktar commented on #91
ok, it’s finally done, had to use openssl to convert keys to pem since StartSSL gave me another format and different openssl commands that didn’t work for GCP
both hub and firefly are back in working / secure form!

[2016-09-09 18:59] #91 closed, assigned to Splaktar

[2016-09-25 17:00] tasomaniac opened #95 "Ingest the old data to make hub complete"
Hub has data until around 2013.
GDG events start from ~2007.

I've been browsing https://developers.google.com/events/

From 2007 to 2009 there are not many events. Mostly GDG Silicon Valley and GDG Prague.

It starts from Nov 2007.

[2016-11-17 15:02] snyk-community opened #96 "High severity vulnerability affecting this repo"
Hi there,

We noticed that your repo has a high severity vulnerability:
* [Regular Expression Denial of Service](https://snyk.io/vuln/npm:negotiator:20160616?utm_source=gh_issue)
* Affected package: negotiator<= 0.6.0

[Here is the test report for this repo](https://snyk.io/test/github/gdg-x/hub?utm_source=gh_issue).
If you’d like to fix this vulnerability, Snyk lets you generate a pull request th

[2016-11-17 17:29] Splaktar commented on #96
This issue is caused by reliance on express 3.21.2 which is the absolutely latest version of express 3.x. Express 3.x relies on `connect` which relies on `compression` which relies on `accepts` which relies on `negotiator`.

Express 4.x introduces a lot of breaking changes but it does update to `negotiator 0.6.1`.

These include incompatibility with `express-annotations` which is used all througho

[2016-12-13 16:14] Tkd-Alex opened #97 "Events shifted are not updated"
This is the event list in the Developers site for my chapter:
https://developers.google.com/groups/chapter/118102220008611585984/

This is the event list in the Hub for my chapter:
https://hub.gdgx.io/chapters/118102220008611585984

The event of december are shifted to january but the update not show.
We're using this API for our community and the issue appears.

[2016-12-13 22:21] #97 closed, assigned to Splaktar

[2016-12-14 00:37] Splaktar commented on #97
Ah so you rescheduled the events? The hub syncs every 12 hours or so. Thus your updates won't be seen immediately on the Hub or your chapter site.

[2016-12-15 00:07] tasomaniac commented on #97
Were they shown at the end after waiting for 12 hours?

[2017-03-09 21:47] Splaktar commented on #88
This just suddenly started working about 5 months ago. It appears to have been a GCE bug. This is why the Hub has stayed online much more than previously.

[2017-03-09 21:47] #88 closed, assigned to Splaktar

[2017-03-11 10:53] supcik opened #98 "Distrusting StartCom Certificates"
The certificate for the hub has been issued by StartCom. It is still valid and it works fine, but we might have to change soon: [Distrusting WoSign and StartCom Certificates](https://security.googleblog.com/2016/10/distrusting-wosign-and-startcom.html)

[2017-03-11 18:30] Splaktar opened #99 "Use Cloud Endpoints and OpenAPI"
More details on Cloud Endpoints: https://www.youtube.com/watch?v=bR9hEyZ9774&list=PLIivdWyY5sqJg2FeM9_NPBL07BxATY06I&index=9

This would allow us to auto generate the API docs page and supports enforcing quotas, applying API keys, or requiring Firebase Auth for API usage. It also would give us metrics on which APIs are the most active.

[2017-03-11 18:32] Splaktar opened #100 "Move from GCE to GAE Flex"
This would help us get into a containerized deployment while handling auto scaling and service restarts automatically. We should use the default nodejs runtime which is based on Node 6.9.x in order to get the best integration with Cloud Trace and Cloud Debug.

More on GAE Flex which just went GA: https://www.youtube.com/watch?v=sATG0OfdP4g&list=PLIivdWyY5sqKjIKJ7-bRSWanvclrR573n&index=26

[2017-03-11 18:46] Splaktar opened #101 "Write a backend microservice in GAE to handle ingestion from Meetup.com"
This should use the `service: backend` annotation in GAE so that it can run in parallel with our frontend web service. It may make sense to make this a separate repo (hub-ingest) or something like that. It should use the same production MongoDB and GDG-X Cloud project, but in no other way should it be coupled to the existing Hub backend.

Phases
1. The first piece of this work is to get this runni

[2017-03-11 18:48] Splaktar opened #102 "Remove code for GDEs"
GDEs have their own separate tools and tracking system that was built by them. The Hub should remove all code that deals with listing, ingesting, etc of GDEs.

[2017-03-11 18:49] Splaktar opened #103 "Remove code to track Google+ posts and activity"
Activity will be measured by Meetup.com activity and not Google+. While we should keep Google Auth, most everything else related to Google+ should be removed from the Hub.

This means removing the following APIs:
`GET /plus/posts/hashtag/:hashtags` - Returns a list of Google+ posts made by Chapters which contain the specified hashtag(s)

`GET /chapters/:chapterId/posts` - Returns a list of Google+

[2017-03-11 18:57] Splaktar opened #104 "Remove Redis and configure Edge caching"
Redis is too much of a problem. If we can get onto GAE Flex via #100, then we can just use managed Memcache instead. But for now, we don't actually need this level of caching and should just use Google's Edge caching via headers.

Here's an example of how to setup Edge caching in Express with TypeScript

**routes/index.ts:**
[code]

[2017-03-12 00:18] Splaktar opened #105 "middleware.auth roles don't work"
For example the tag update endpoint says that it requires admin role, but even when I'm not logged in and all cookies/cache is cleared, I can still modify the tag.

[code]

This needs to be resolved before we can add more functionality to the Hub in regards to editing anything (chapters, events, tags, etc).

This is related to PR #53.

[2017-03-12 05:51] VikramTiwari commented on #101
Why not a Cloud Dataflow job to do this? Is the aim to stay as close to GCP or be platform independent?

[2017-03-12 05:55] Splaktar commented on #101
Cloud Dataflow would be fine, does it fit well with the pattern of ingesting via Meetup.com REST APIs? I personally haven't used it yet. Would the code have to be in Java/Scala?

The project started fairly GCP independant as it needed to be hosted freely on Heroku and OpenShift. But now that Google DevRel is covering GCP costs, it is no problem to use GCP-specific tech and designs.

[2017-03-12 05:59] VikramTiwari commented on #101
Yeah! Though Dataflow is not part of the free plan. I plan on writing using Python and using Apache Beam SDK, so there shouldn't be any issue with dependence. Though we might have to run it as CRON script until either GCP can sponsor gdg-x or Dataflow comes as part of free platform.

Interesting would be to see Cloud Functions support python and then we should be able to run it there too, which is

[2017-03-12 06:16] Splaktar commented on #101
@VikramTiwari It doesn't need to be free. It should of course be cost effective, but we aren't restricted to free as Google DevRel is covering our expenses.

The current ingestion (and entire project) is written in JavaScript (MEAN stack), so bringing in another language (Python) is not ideal. But if it is much easier to do in Python and only the Meetup.com API ingestion piece needs to be in Pytho

[2017-03-12 07:51] VikramTiwari commented on #101
I looked into Dataflow and it seems like python support is very limited as of now. If the complete app's backend is NodeJS then a cloud function with GAE Cron seem like a good design. Why do you think this as non-ideal? We can even make the function parameterized and HTTP execution based so that update of database happens can also happen in the realtime. Let me know your thoughts.

[2017-03-12 18:18] Splaktar commented on #101
@VikramTiwari We may want to understand the Meetup.com API quotas better before settling on a design.

- Should we process all chapters, events, organizers, etc as a single ingest job (and single point of failure)?
- Should we process them in separate jobs (more complexity)?
- Should we process them all at once, in batches, or individually (separate PubSub message for each)?

It seems like we shou

[2017-03-12 21:23] Splaktar opened #106 "Additional firewall rules required for Google Cloud Load Balancing"
Dear Google Cloud Platform customer,

We’re writing to inform you that as part of the Google Cloud Platform Geo expansion effort, we are expanding the IP ranges used for HTTP(S) Load Balancing, SSL Proxy and Network Load Balancing. Action is required on your part to add firewall rules allowing traffic to your load balanced instances from the new IP ranges.

If you use HTTP(S) Load Balancing or SSL

[2017-03-12 21:33] Splaktar commented on #106
We had a TCP (Network) load balancer in place for use with our Redis cluster, but I could never get it to work. I've deleted it.

[2017-03-12 21:37] Splaktar commented on #106
We also have a HTTPS load balancer setup for the Hub web server cluster. This used to be a 2 node cluster, but one of the VMs became corrupted a month or so ago. I wasn't able to recover it and had to delete it. I haven't had time to rebuild another GCE VM to replace that second node.

Hopefully as part of #100 we will no longer need to manage and configure our own HTTPS load balancer. Then this i

[2017-03-12 22:10] Splaktar opened #107 "Remove SEO Prerendering with PhantomJS"
I don't believe that this is working and search engines can execute JavaScript now. PhantomJS is not reliable for this and introduces complexity that we don't have resources to support.

[2017-03-12 22:59] #42 closed, assigned to Splaktar

[2017-03-13 01:45] Splaktar commented on #104
After #107 gets merged to remove the SEO prerendering that was being put in Redis, I think that we can do this.

[2017-03-13 01:45] Splaktar commented on #77
This is no longer relevant as we plan to remove Redis as part of #104.

[2017-03-13 01:45] #77 closed, assigned to nobody

[2017-03-13 01:47] Splaktar commented on #58
If we implement #100, then this should be much less of an issue. It's also been many months since these were an issue, though I think that this is due to the resolution of auto restarting in #88.

[2017-03-13 17:20] pmoosh commented on #101
For now - watching.

[2017-03-17 15:02] Splaktar commented on #98
Chrome M57 just started rolling out to the stable channel. This breaks our Hub certificate for both the Hub and Firefly (which uses the Hub API).

[2017-03-17 15:03] Splaktar commented on #98
Henry Lim reported this via Twitter: https://twitter.com/henrylim96/status/842752355477078018?cn=cmVwbHk%3D&refsrc=email

[2017-03-17 15:31] #107 closed, assigned to nobody

[2017-03-17 15:31] #102 closed, assigned to Splaktar

[2017-03-17 15:37] Splaktar commented on #105
It might be possible to solve this by using Cloud Endpoints (#99) with Firebase Auth instead of `middleware.auth`.

[2017-03-17 15:53] #103 closed, assigned to Splaktar

[2017-03-17 15:58] Splaktar commented on #31
Tracking 'apps influenced' is no longer a priority. Martin and Adriana agreed that we should not spend more effort on that tracking at this time.

[2017-03-17 15:58] #31 closed

[2017-03-17 16:08] Splaktar commented on #104
#107 has been merged. This work should be able to be started.

[2017-03-18 05:08] Splaktar commented on #98
We just got the StartSSL certificate on September 9th as part of #91 and it's already useless :(

[2017-03-18 05:38] Splaktar commented on #98
I think that I’m just going to take @aleborba up on his offer and get a valid, paid, wildcard cert for gdgx.io from GoDaddy.com.

Wildcard is $300 per year, but the proper level of security that we should have is actually the $400 per year level. Ugh. Not cheap. Other option is separate certificates for hub.gdgx.io and api.gdgx.io for $70 per year and more hassle if we want to add chat.gdgx.io or

[2017-03-18 05:47] VikramTiwari commented on #98
I saw GAE's issue for LetsEncrypt being assigned to someone today. Though it might be a while before that is out even in beta. Why not host on GCE until then? I would have suggested k8s but using a cluster would be too much as of now.

[2017-03-18 05:53] Splaktar commented on #98
You are suggesting that we continue to host on GCE now so that we can use Let's Encrypt? That would require manually refreshing the certificate every 15-30 days which isn't possible due to my availability being very low atm.

[2017-03-18 06:00] VikramTiwari commented on #98
haha Should have looked at issues queues earlier. If it's on GCE, I can setup Let'sEncrypt cert there. Let's take this to hangouts and discuss there.

[2017-03-18 06:28] Splaktar commented on #98
If we can generate the cert there and then use it on App Engine then that would buy us 30 days. But I really want to get the Hub off of GCE ASAP due to a number of reasons related to higher maintenance time/cost.

[2017-03-18 06:31] VikramTiwari opened #114 "overall project cleanup"
- [ ] Use yarn

[2017-03-18 06:35] VikramTiwari commented on #98
Hmm.. I am taking a look into project and will try to streamline any such issue. If you could add me to the project (on google cloud) I can start on it right now.

[2017-03-18 07:15] Splaktar opened #115 "Remove express-rate as it is no longer maintained"
Project is in NPM but GitHub project is gone. It hasn't been changed from v0.0.1 in 5 years. There are some newer options, but I'd prefer to use Cloud Endpoints rather than an Express middleware for rate limiting/quotas.

Relates to #104

[2017-03-18 08:24] Splaktar commented on #98
Setup CloudFlare for a temporary solution, but it's not working so far... Hub is offline due to DNS.

[2017-03-18 09:58] Splaktar commented on #100
Finally got the Hub running on GAE Flex in [this branch](https://github.com/gdg-x/hub/tree/cloudEndpointsAndGaeFlex).

It took so many small tweaks and adjustments, you'll have to read the commits to find them. Over 18 hours working on this today. /yawn

[2017-03-18 10:01] Splaktar commented on #99
We have one endpoint working so far from [this branch](https://github.com/gdg-x/hub/tree/cloudEndpointsAndGaeFlex):
https://20170318t053637-dot-gdgx-cloud.appspot.com/api/v1/chapters

The rest of the OpenAPI spec for the API needs to be written before the other APIs will work.

That linked instance is also connected to a new MongoDB instance in the `default` network instead of the `gdg-x` network.

[2017-03-18 10:03] Splaktar commented on #98
CloudFlare doesn't seem to work well with the way that GCP and Google Domains do things. It broke a ton of stuff and didn't provide any value at all. I've paused it and moved the Google Domains DNS back to Google Nameservers.

[2017-03-18 20:11] Splaktar commented on #98
GlobalSign never did get back to me after weeks of asking and them promising me that they would send over the free cert for open source.

Since I haven't heard back from Ale, I just requested a free cert from GoDaddy for open source again. Hopefully they are more responsive. Last time their cert worked great for a year.

[2017-03-18 20:35] VikramTiwari commented on #98
@Splaktar I can setup LetsEncrypt faster than that.

[2017-03-18 22:45] #104 closed, assigned to Splaktar

[2017-03-18 22:45] #96 closed, assigned to Splaktar

[2017-03-18 22:45] #115 closed, assigned to Splaktar

[2017-03-20 15:51] BrockMcKean commented on #98
@VikramTiwari @Splaktar +1 LetsEncrypt

[2017-03-20 19:07] BrockMcKean commented on #101
The hourly limits are included in the response as X-RateLimit headers described by https://www.meetup.com/meetup_api/#limits
However, https://groups.google.com/forum/#!topic/meetup-api/7xpoMZF43CQ seems to suggest that the default is 200/hr (+3 years ago), which means the upper limit every 6 hours would be 1200, 300 below your projected minimum of 1500. Assuming this is correct, it will require 3

[2017-03-21 14:23] Splaktar commented on #101
@BrockMcKean great, thanks for looking into the Meetup.com API, those details are quite helpful.

As far as integration, the thought so far has been that this Meetup.com ingestion could take place in a separate GAE service. But I didn't really get a response to https://github.com/gdg-x/hub/issues/101#issuecomment-285963149 in order to decide how we should finalize the design.

I don't think that u

[2017-03-21 14:27] Splaktar commented on #101
@BrockMcKean Oh and if you are trying to test adding the Meetup.com ingest to the existing project, please use [this branch](https://github.com/gdg-x/hub/tree/cloudEndpointsAndGaeFlex) since it contains some pretty significant changes over `develop`.

We could certainly keep the Meetup.com ingest as part of this same project which will be deployed to GAE Flex, then just setup a cron job to call a

[2017-03-21 16:40] VikramTiwari commented on #101
As for this [comment](https://github.com/gdg-x/hub/issues/101#issuecomment-285963149), I think GCF should be our choice since I am unable to understand the need for Cloud Endpoints security there. If the requests to Meetup API are being made from our side and result comes to us and gets stored in our database, where does the part of Cloud Endpoints even come in picture?

Regarding function invocat

[2017-03-21 16:53] VikramTiwari commented on #98
Hub is up on HTTPs with LetsEncrypt Cert! Yay! :)

It will also auto update the certs before they get invalidated, but if it encounters any errors, we will debug it then.

@Splaktar Closing. Reopen if there's anything else we should be addressing.

[2017-03-21 16:53] #98 closed, assigned to Splaktar

[2017-03-21 16:56] Splaktar commented on #98
DNS has been updated to point directly to the single GDG-X Hub GCE instance.
Hub load balancer and startssl certificate have been deleted.

[2017-03-21 16:59] Splaktar commented on #98
@VikramTiwari Thanks! I see the cert in action now.

Can you please add some documentation to this issue about how you setup Let's Encrypt? I.e. if someone else had to set it up again on a new VM, do you have the steps for doing that handy?

[2017-03-21 17:01] VikramTiwari commented on #98
@Splaktar Sure! It's already on a different branch (feature/vikram/cleanup). If you want I can fork from current develop or master and update.

Ref: https://github.com/gdg-x/hub/tree/feature/vikram/cleanup/backend/docs

[2017-03-21 17:09] Splaktar commented on #98
@VikramTiwari Great! Fork from `develop` please.

[2017-03-21 17:09] Splaktar commented on #98
![screen shot 2017-03-21 at 1 07 55 pm](https://cloud.githubusercontent.com/assets/3506071/24160235/a129a408-0e37-11e7-839b-cf3c4bde367f.png)
![screen shot 2017-03-21 at 1 07 47 pm](https://cloud.githubusercontent.com/assets/3506071/24160236/a129eee0-0e37-11e7-9c82-b4f941d3a0fd.png)

[2017-03-21 18:29] Splaktar commented on #101
I agree that Cloud Endpoints aren't needed for kicking off the Meetup.com ingestion.

@VikramTiwari Are you envisioning only a single event being sent to PubSub to 'update all data from Meetup.com API'? How do you envision things working after the GCF is triggered, especially in regards to a 200 request per hour Meetup.com API quota?

[2017-03-21 19:17] VikramTiwari commented on #101
I am not sure if 200 requests per hour limit is still applicable. Most of the API teams have started using a rolling average to limit unethical usage of their APIs which works on various constructs such as time, IP address, credentials etc. If there is an upper limit then we will need to tune our code. The way I envision code to be is to run these ingestions based upon data classification. A very

[2017-03-21 20:10] Splaktar commented on #101
OK, sounds like we should start working on a GCF for doing Meetup.com API ingestion. We can mess with the PubSub triggering stuff after we get ingestion into Mongo working.

[2017-03-21 23:42] VikramTiwari opened #118 "Update infrastructure for Hub server"
Hub is currently hosted on an Ubuntu VM with OS version 15.04. This is a deprecated version. During resolution of https://github.com/gdg-x/hub/issues/98 I realized that there is an open security bug which is causing our SSL score to be down even when we are using LetsEncrypt.

For comparison:
[My website score](https://www.ssllabs.com/ssltest/analyze.html?d=vikramtiwari.com) is `A+` while [hub's s

[2017-03-22 05:26] VikramTiwari commented on #101
@Splaktar I can use my API key but will need sample chapter id to start getting the data and rest of the process.

@BrockMcKean If you wanna take a lead on this, go ahead. I won't be getting much time but if no one is working on it actively, I will try to contribute as much as I can.

[2017-03-22 09:47] Splaktar commented on #101
@VikramTiwari Sample chapter ID on the Hub: 103959793061819610212. Not sure what the [Meetup.com chapter ID](https://www.meetup.com/gdgspacecoast/) is other than `gdgspacecoast`.

[2017-03-29 00:50] BrockMcKean commented on #101
I'll commit an integration of meetup's node implementation tomorrow. Ongoing personal/family issue has been taking up most of my spare time, but it's under control now.

@VikramTiwari [comment](https://github.com/gdg-x/hub/issues/101#issuecomment-288189134) on different times for different endpoints/data is something that will need to be addressed. Application usage and refresh requests could be u

[2017-04-21 06:54] Splaktar commented on #101
Sounds good @BrockMcKean. Any luck on getting the API working?

[2017-04-22 02:35] BrockMcKean commented on #101
@Splaktar I started with the wrong branch and my father's illness butted in again. Have a lot of help now. I'm working on something for Angular Attack, but I'll do a PR to the branch you specified on Sunday. Sorry for the delay.

[2017-04-22 18:03] Splaktar commented on #101
@BrockMcKean OK, no rush to do anything this Sunday, just wanted to check in. Good luck with Angular Attack! I did it last year, but just didn't have time this year.

[2017-04-24 06:33] BrockMcKean commented on #101
@Splaktar I didn't really have time either (this year). Just did it for fun. Didn't finish my submission in time to really have much of a chance. I'm working on this ingestion job now.

[2017-05-10 16:33] BrockMcKean opened #120 "evn variable ANDROID_CLIENT_IDS absent halts server boot."
`npm run startDev` and `npm start` both yield the same problem for me with empty ANDROID_CLIENT_IDS...

[code]

Not sure what the problem is, but I'm digging right now.

[2017-05-10 17:07] Splaktar commented on #120
Pushed up a fix to my branch: https://github.com/gdg-x/hub/commit/b2b22e5727f881577f50681c7114cf56714430a9

[2017-05-10 17:08] BrockMcKean commented on #120
Haha, I guess I could have done that... I didn’t know if I was breaking anything.
Thanks!

[2017-05-10 17:10] Splaktar commented on #120
No problem, it should only need to be defined in production.

[2017-05-19 18:09] BrockMcKean commented on #101
So, as far as I can tell there's two ways of grabbing multiple associated groups at once:

1. [/:urlname](https://secure.meetup.com/meetup_api/console/?path=/:urlname) which grabs a single group based on the urlname, like gdgspacecoast. The problem with using this approach is simply that the URLs do not have any particular relationship with the name. Lots of `urlname` with and without `-`, capital

[2017-05-23 16:20] BrockMcKean commented on #101
Quick update: I have [BrockMcKean/meetup-test](https://github.com/BrockMcKean/meetup-test) doing an apikey call to get a group by `urlname` and oauth2 call to get self groups. I'm trying to determine which view to display an "integrate with meetup" button for organizers, and then require (and perhaps revalidate?) google oauth before allowing the meetup oauth. But there's no separate "profile" area

[2017-05-23 19:56] Splaktar commented on #101
@BrockMcKean Authorized users on the Hub UI don't really work very well atm. We should probably tear out the Passport stuff and replace it with Firebase Auth, but that's out of scope for this work.

I can look into getting the Meetup Pro key for the GDG. We would have to make sure that it never got committed to Git.

[2017-05-24 02:19] BrockMcKean commented on #101
Is the hub supposed to be solely for unified GDG information across G+ and Meetup? If so, we should probably try to get a meetup pro community admin key. If it's to provide a superior event service to attendees and organizers, wouldn't users be the root dependency?

[2017-05-24 05:15] Splaktar commented on #101
@BrockMcKean Yes, the Hub is a data hub. The UI is purely for debugging and development use, not for GDG organizers to use regularly. The idea is that projects like Firefly, Boomerang, and Frisbee will use the Hub data APIs to build rich, targeted applications.

[2017-06-28 20:58] #120 closed, assigned to Splaktar

[2017-06-28 21:07] Splaktar commented on #101
I wrote up the request for the Meetup Pro Community API Key with a clear justification and it was rejected by Jennifer Kohl within 1 day.

She suggested that we follow the process being used by GDG Beijing member, Jackie Han, to build this [reporting tool](https://script.google.com/macros/s/AKfycbxhUrO0-2JUBpw60pc8JYt77PMESyex4b6-JNvopbTboV2JIaSL/exec?type=meetup).

My notes about the process:

Up

[2017-06-28 22:17] pmoosh commented on #101
I didn't realize how the data is generate until now. Editing the attendance on Meetup is a pain in the neck. So far we estimated the numbers, now we have to click up to 200 times per Meetup......

[2017-06-28 22:26] Splaktar commented on #101
@pmoosh that's a bit off-topic, but you don't need to click 200 times. Just click on the 'Checked In' tab and enter a total attendee count. You don't actually need to check in all attendees one by one.

[2017-06-29 07:14] BrockMcKean commented on #101
Scraping is about ingesting data that is immutable or antifragile for a relatively long period of time (+6 months). The primary reason for that is to avoid rewriting the scraper all the time. At least with a versioned API there is plenty of lead time to handle that.

But, Scraping https://www.meetup.com/pro/gdg/ once and using the data gathered to use the existing api is only one point of failure,

[2017-09-12 22:57] Splaktar commented on #118
Tried to upgrade ubuntu on the same VM today but it failed as unsupported. Looks like we'll need to spin up a new VM.

[2017-09-12 23:20] VikramTiwari commented on #118
Yeah! I tried that earlier as well but since it's on a non-LTS version, the upgrade won't make through.

I can take point on this over the weekend. Though if you have some time please do the following:
- A basic documentation/script on all the things that are needed to run the hub project
- Share any env files over gdrive
- Anything else I should know (DNS mapping, static IP addresses etc)

Let me

[2017-09-13 05:28] Splaktar commented on #118
I tried to document everything here https://github.com/gdg-x/hub/wiki/Building-a-Hub-instance. It would be great if you could get it up and running on an updated ubuntu LTS VM. Thank you.